@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


$main: #8FD476;
$bg: #002233;

$accent: #007A78;

@mixin basics() {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  body {
    background-color: $bg;
    color: white;
  }

  .sep {
    margin: 15rem 0;
    width: 70%;
    height: 1px;
    background-color: white;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: $main;
      border-radius: 100%;
      left: calc(50% - 10px);
      bottom: calc(50% - 10px);
    }
  }
}

@mixin centerDiv($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
  width: 100%;
}

@mixin centerImg($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin topnav() {
  @include centerDiv(row);
  justify-content: flex-start;
  padding: 1rem;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  a {
    margin: 0 2rem;
    color: white;
    text-decoration: none;
    transition: all .3s;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: white;
      bottom: 0;
      left: 0;
      margin-bottom: -5px;
      width: 0;
      transition: all .5s;
    }

    &:nth-child(1) {
      color: $main;
      opacity: .8;

      &::after {
        background-color: $main;
      }
    }

    &:hover {
      transform: scale(1.05);

      &::after {
        width: 100%;
      }
    }

  }
}

@mixin header() {
  @include centerDiv(row);
  height: 100vh;
  @include centerImg("../../public/celerybg.png");

  .hero {
    @include centerDiv(column);

    h1 {
      font-size: 4.5em;

      span {
        color: $main;
      }
    }

    h5 {
      width: 30%;
      text-align: center;

      span {
        color: $main;
      }
    }
  }

  nav {
    @include topnav()
  }
}